<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="top-container">
      <div class="page-title"><%= animalToShow.species %></div>
      <div class="animal-details-container">
        <div class="show-location-container">
          <div class="show-location-label">Location:</div>
          <div class="show-location"><%= animalToShow.location %></div>
        </div>
        <div class="show-extinct-container">
          <div class="show-extinct-label">Extinct:</div>
          <div class="show-extinct"><%= animalToShow.extinct === true ? "Yes" : "No" %></div>
        </div>
        <div class="show-lifespan-container">
          <div class="show-lifespan-label">Life Expectancy:</div>
          <div class="show-lifespan"><%= animalToShow.lifeExpectancy %></div>
        </div>
        <div class="show-buttons-container">
          <a href="/index/<%=animalToShow._id %>/edit" class="edit-button">Edit</a>
          <form class="index-form" action="/index/<%=animalToShow._id %>?_method=DELETE" method="post">
            <input type="submit" value="Delete" id="delete-animal" />
          </form>
        </div>
      </div>
      <div class="back-button"><a href="/index">Home</a></div>
    </div>
  </body>
</html>
